@import "tailwindcss";

:root {
  --font-dm-sans: "DM Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-dm-sans), sans-serif;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 99px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
